<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.RyanScholzDVM.Hydrants"
    version   = "0.8.3">

<name>Hydrants</name>

<description>
</description>

<author href="http://RyanScholzDVM.com" email="RyanScholzDVM@gmail.com">
Ryan Scholz, DVM
</author>

<preference name="orientation" value="default" />
<preference name="target-device" value="handset" />
<preference name="webviewbounce" value="false" />
<preference name="show-splash-screen-spinner" value="false" />
<preference name="splash-screen-duration" value="0" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>

<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

<gap:plugin name="ChildBrowser" /> <!-- latest release -->

<access origin="*"  browserOnly="true" /> 
</widget>
