<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.JeffCo.Fire"
    version   = "0.8.1">

<name>JeffCo Fire</name>

<description>
</description>

<author href="http://ryanscholzdvm.com" email="ryan@willamettews.com">
Ryan Scholz, DVM
</author>

<preference name="phonegap-version" value="2.5.0" />

<preference name="orientation" value="default" />
<preference name="target-device" value="handset" />
<preference name="webviewbounce" value="false" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>

<access origin="*"  browserOnly="true" /> 
</widget>
